.modal-background {
    position: fixed;
    width: 100%;
    height: 100vh;

    inset: 0;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    isolation: isolate;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    opacity: 0;

    transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out;

    &.visible {
        background-color: rgba(0, 0, 0, 0.7);
        pointer-events: auto;
        opacity: 1;
        transition: opacity 300ms ease-in-out;
    }

    .modal {
        --border-radius: 1em;
        --padding: 1em;
        position: relative;
        background-color: #222;
        border-radius: var(--border-radius);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: var(--padding);

        max-width: 90vw;
        max-height: 90vh;
        overflow: auto;
        display: grid;
        gap: 1em;

        min-width: min(900px, 90vw);
        min-height: min(500px, 80vh);

        .art-image-wrapper {
            display: flex;
            justify-content: center;

            img {
                height: 100%;
                object-fit: contain;
                border-radius: calc(var(--border-radius) + var(--padding));
            }
        }

        .art-info {
            height: 100%;
            display: flex;
            flex-direction: column;

            .art-metadata {
                border-color: white;
                border-bottom-width: 2px;
                border-bottom-style: dotted;
            }

            .art-description {
                margin-top: 1em;
            }
        }

        &.portrait {
            min-width: min(1000px, 90vw);
            min-height: 70vh;

            grid-template-columns: repeat(2, minmax(0, 1fr));
            align-items: center;

            .art-image-wrapper {
                img {
                    width: 100%;
                    max-height: 85vh;
                }
            }
        }

        &.landscape {
            min-width: min(1000px, 90vw);
            min-height: 65vh;

            grid-template-rows: repeat(2, minmax(0, 1fr));

            .art-image-wrapper img {
                max-height: 55vh;
            }
        }

        .close-button {
            position: absolute;
            aspect-ratio: 1;
            height: 5em;
            display: flex;
            justify-self: flex-end;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: var(--border-radius);
            border: none;

            background-color: transparent;
            color: white;
            cursor: pointer;

            transition: background-color 167ms cubic-bezier(0.33, 1, 0.68, 1);

            &:hover,
            &:focus-visible {
                background-color: red;
            }
        }
    }
}