main.main[data-path="/art-appreciation-portfolio"] {
    .art-grid {
        display: grid;
        grid-template-columns: 5fr 7fr;
        grid-template-rows: 1fr 1fr;

        gap: 1rem;
        height: 100svh;
        padding: 2rem;
        box-sizing: border-box;
    }
}