.navigation {
    height: 60px;
    max-width: 90%;
    background-color: rgba(21, 21, 21, 0.7);
    border-radius: 0.7rem;
    display: flex;
    justify-self: center;

    backdrop-filter: blur(5px);
    position: sticky;
    top: 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);

    transition:
        gap 0.3s ease 0.3s, max-width 0.3s ease 0.3s;

    &.closed {
        gap: 0;
    }
}

.nav-button {
    transition: scale 200ms ease, translate 200ms ease;

    .nav-link {
        color: white;
        text-decoration: none;
        background-color: transparent;
        border: white 1px solid;
        border-radius: 0.5em;
        padding: 0.2em;
        text-align: center;
        scale: 1;
        transition: background-color 200ms ease, scale 200ms ease, font-weight 200ms ease, translate 200ms ease;
        translate: 0;
    }

    &:hover {
        translate: 0 -2px;
    }

    &.active {
        scale: 1.01;
        .nav-link {
            font-weight: bold;
            background-color: rgb(85, 85, 85);
        }
    }
}

.nav-button-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 0.5em;

    transition: max-width 300ms ease;
}

.nav-toggle {
    background: none;
    margin-left: 0.5em;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    aspect-ratio: 1;
    height: 100%;
    transition: rotate 200ms cubic-bezier(0.16, 1, 0.3, 1), scale 200ms cubic-bezier(0.16, 1, 0.3, 1);
    rotate: 0deg;

    img {
        width: 100%;
        height: 100%;
    }

    &:not(.active) {
        rotate: -30deg;
        scale: 1.2;
    }
}

.nav-list-enter {
    opacity: 0;
}

.nav-list-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease 0.3s;
}

.nav-list-exit {
    opacity: 1;
}

.nav-list-exit-done {
    opacity: 0;
}

.nav-list-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-list-enter {
    opacity: 0;
    display: flex;
}

.nav-list-enter-active {
    max-width: 2500px;
    opacity: 1;
    transition: opacity 0.3s ease 0.3s;
}

.nav-list-enter-done {
    opacity: 1;
}

.nav-list-exit {
    opacity: 1;
}

.nav-list-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease;
    /* no delay on close */
}

.nav-list-exit-done {
    opacity: 0;
    max-width: 0;
    display: none;
}