.navigation {
    height: 60px;
    width: 90%;
    background-color: rgba(65, 65, 65, 0.7);
    border-radius: 0.7rem;
    display: flex;
    justify-self: center;

    backdrop-filter: blur(3px);
    position: fixed;
}