.navigation {
    height: 60px;
    max-width: 90%;
    background-color: rgba(21, 21, 21, 0.7);
    border-radius: 0.7rem;
    justify-self: center;

    backdrop-filter: blur(5px);
    position: sticky;
    top: 1.5em;
    display: flex;
    align-items: center;
    gap: 0.7em;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
    z-index: 999;
}

.nav-li {
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: white 1px solid;
    border-radius: 0.5em;
    padding: 0.2em;
    text-align: center;
    scale: 1;
    transition: background-color 200ms ease, scale 200ms ease, font-weight 200ms ease, translate 200ms ease, outline-width 200ms cubic-bezier(0.16, 1, 0.3, 1);
    translate: 0;
    outline: rgb(1, 90, 192) 0px solid;

    display: inline-block;

    &:hover,
    &:focus-visible {
        translate: 0 -0.25em;
        outline-width: 3px;
        outline-offset: -3px;
    }

    &.active {
        font-weight: bold;
        background-color: rgb(85, 85, 85);
    }
}

.nav-button-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 0.5em;
}

.nav-toggle {
    background: none;
    margin-left: 0.5em;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    aspect-ratio: 1;
    height: 100%;
    transition: rotate 200ms cubic-bezier(0.16, 1, 0.3, 1), scale 200ms cubic-bezier(0.16, 1, 0.3, 1);
    rotate: 0deg;

    &:hover,
    &:focus-visible {
        scale: 1.3;
    }

    img {
        width: 100%;
        height: 100%;
    }

    &:not(.active) {
        rotate: -30deg;
        scale: 1.2;

        &:hover,
        &:focus-visible {
            scale: 1.4;
        }
    }
}