.art-card {
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;

    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;

    .art-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 600ms cubic-bezier(0.87, 0, 0.66, 1.03);
    }

    .art-title {
        border-bottom: 5px solid azure;
        border-bottom-left-radius: 0.2em;
    }

    .card-content {
        position: absolute;
        align-self: flex-end;
        text-align: left;
        color: white;

        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.726), black);
        transition: 600ms cubic-bezier(0.87, 0, 0.66, 1.03);
        transform: translateY(100%);
        opacity: 0;

        font-size: 2em;
        padding-left: 0.5em;
    }

    &:hover,
    &:focus-visible {
        cursor: pointer;

        .card-content {
            transition: 600ms cubic-bezier(0.28, -0.02, 0, 1.04);
            transform: translateY(0%);
            opacity: 1;
        }

        .art-image {
            transform: scale(1.05);
        }
    }

    &.state-machine {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    &.electric-passage {
        grid-column: 2;
        grid-row: 1;
    }

    &.sphinx-of-hatshepsut {
        grid-column: 2;
        grid-row: 2;
    }
}