*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  inset: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

#root {
  margin: 0 auto;
  padding: 2rem;
}

main {
  margin-top: 1.3em;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}